---
import Layout from '@layouts/Layout.astro'
import Articles from '@layouts/Articles.astro'
import ArticlePreview from '@components/articles/ArticlePreview.astro'
---

<Layout>
   <Articles>
      <h1>More About</h1>
   </Articles>
</Layout>