---
// Converted from trademark__Vurvey--Light.svg
---

<div class="trademark-svg-wrap">
<svg width="auto" height="100%" width="auto" height="100%" width="auto" height="100%" width="700" height="181" viewBox="0 0 700 181" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2277_1530)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 80.0205C0 35.0205 38.5 0.52054 83.5 0.52054C95.2541 0.0257076 106.983 1.97624 117.944 6.24869C128.905 10.5211 138.861 17.0225 147.179 25.3412C155.498 33.66 161.999 43.615 166.272 54.5763C170.544 65.5376 172.495 77.2664 172 89.0205C172 139.021 132.5 180.521 81 180.521V157.021C36 157.021 0 127.021 0 80.0205ZM52 49.0205H67V104.021C94.5 101.521 115 78.0205 115 49.0205H131C131 88.0205 101 119.021 58.5 120.021H52V48.5205V49.0205Z" fill="#E6F751"/>
<path d="M422 47.5195C418 50.5195 414 55.5195 411.5 62.5195L410 41.5195H393.5V122.02H412V92.0195C412 80.0195 414.5 72.0195 421 66.0195C426 61.0195 433 59.0195 443 59.0195H448V41.5195H442C432 41.5195 427 43.0195 422 47.5195ZM261.5 98.0195L240 41.5195H220L253 122.02H270L303 41.5195H283L261.5 98.0195ZM517.5 41.5195L495 98.0195L474 41.5195H454L487 122.02H504L537 41.5195H517H517.5ZM363.5 83.5195C363.5 93.0195 362 98.5195 357 103.52C353.55 106.308 349.271 107.871 344.836 107.961C340.4 108.052 336.061 106.665 332.5 104.02C329 100.02 327.5 95.5195 327.5 87.5195V41.5195H309V91.5195C309 104.02 312 111.02 318 116.52C323 121.52 330.5 124.02 338.5 124.02C343.854 124.112 349.135 122.769 353.795 120.132C358.455 117.494 362.323 113.657 365 109.02L366 122.02H382V41.5195H363.5V83.5195ZM680.5 41.5195L658 98.0195L635.5 41.5195H615.5L649 120.52L644 129.02C640 134.02 634.5 135.52 624 135.52H619.5V152.52H624.5C636 152.52 643 151.02 649.5 147.52C656 142.52 660 137.02 664.5 127.02L700 41.5195H680.5Z" fill="#E6F751"/>
<path d="M576.5 39.5195C551.5 39.5195 535 56.5195 535 83.0195C535 109.02 551.5 124.02 576 124.02C595 124.02 610.5 115.02 616 98.0195H596.5C593 105.02 586.5 108.52 576.5 108.52C563.5 108.52 554.5 101.02 553.5 88.5195H617V82.0195C617 56.0195 601 39.5195 576.5 39.5195ZM553.5 73.5195C556 61.0195 564 54.5195 576 54.5195C588 54.5195 596 61.0195 598.5 73.5195H553.5Z" fill="#E6F751"/>
</g>
<defs>
<clipPath id="clip0_2277_1530">
<rect width="700" height="180" fill="white" transform="translate(0 0.519531)"/>
</clipPath>
</defs>
</svg>
</div>