---
// Converted from tradeamark__Vecta-IO.svg
---

<div class="trademark-svg-wrap">
<svg  width="auto" height="100%">
                        <use xlink:href="#logo_text.sym"></use>
                    </svg>
</div>