---
// Converted from trademark__Almanac--Dark.svg
---

<div class="trademark-svg-wrap">
<svg width="auto" height="100%" width="auto" height="100%" width="auto" height="100%" width="644" height="144" viewBox="0 0 644 144" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask0_952_9786)">
<path d="M83.9416 73.9798C87.7496 72.738 92.0681 73.8694 95.3242 76.2011L102.926 81.6647C106.638 84.3275 110.86 86.1902 115.33 87.1146C119.8 88.0528 124.422 88.0252 128.879 87.0732L143.973 83.8309C144.58 80.0229 144.883 76.1735 144.869 72.3103L126.533 76.2563C123.581 76.8909 120.531 76.9047 117.565 76.2839C114.613 75.663 111.812 74.4351 109.356 72.6828L106.293 70.4753C105.065 69.5923 103.685 68.9438 102.223 68.5575L142.814 55.3675C142.386 53.5877 141.876 51.8079 141.31 50.0418C140.73 48.2758 140.096 46.5374 139.392 44.8404L115.137 52.7185C116.199 51.394 117.055 49.9039 117.648 48.3034L119.621 43.0743C120.2 41.529 121.083 40.1079 122.215 38.8938C123.346 37.6797 124.698 36.7139 126.216 36.024L133.156 32.8921C131.086 29.705 128.768 26.6972 126.23 23.8826L121.649 25.9522C115.937 28.5322 111.481 33.2922 109.273 39.1559L104.748 51.118C104.085 52.884 103.037 54.4845 101.671 55.7952C100.305 57.1059 98.6631 58.0855 96.8695 58.665L80.6441 63.9355L77.4432 64.9841V61.9625C77.4432 57.9338 79.8439 54.1948 83.0724 51.8355L90.6194 46.3028C94.3032 43.5986 97.3662 40.1493 99.6427 36.1896C101.905 32.2298 103.327 27.8286 103.796 23.2893L105.368 7.91939C101.947 6.18096 98.3872 4.70468 94.7309 3.53193L92.8131 22.1994C92.5096 25.2071 91.5714 28.1183 90.0675 30.7397C88.5636 33.3612 86.5355 35.6377 84.1072 37.4313L81.058 39.6665C79.8439 40.5633 78.7953 41.667 77.9675 42.9364V0.220619C76.1463 0.0826488 74.2975 0.0136719 72.4349 0.0136719C70.5723 0.0136719 68.7235 0.0826488 66.9022 0.220619V25.7176C65.964 24.2965 64.8051 23.041 63.4806 21.9786L59.1069 18.4879C56.513 16.4046 54.8436 13.383 54.4711 10.0717L53.6295 2.52473C49.9594 3.50432 46.386 4.77365 42.9229 6.31892L43.4748 11.3135C44.1647 17.5497 47.3104 23.2479 52.2084 27.1663L62.1974 35.1548C63.6599 36.3276 64.8465 37.8176 65.6605 39.5009C66.4745 41.1979 66.9022 43.0467 66.916 44.9231V65.3428L64.0876 64.4322C60.2796 63.1905 57.4512 59.7412 56.1957 55.947L53.2569 47.0479C51.822 42.7156 49.4903 38.7282 46.4274 35.348C43.3644 31.9677 39.6116 29.2635 35.4449 27.4284L21.3167 21.1784C18.5849 23.8964 16.0738 26.8352 13.8249 29.9671L30.9747 37.5555C33.7341 38.7834 36.2176 40.5632 38.2457 42.7984C40.2739 45.0335 41.8192 47.6687 42.7574 50.5385L43.9439 54.1258C44.413 55.5607 45.1581 56.899 46.1101 58.0717L5.51907 44.8817C4.82922 46.5788 4.19455 48.3034 3.61508 50.0832C3.0356 51.8492 2.53891 53.6291 2.1112 55.4089L26.3664 63.287C24.7246 63.7423 23.1655 64.4598 21.7444 65.3842L17.0672 68.4471C14.2802 70.2821 10.8861 70.9306 7.61623 70.2546L0.15201 68.7093C-0.0549456 72.5035 0.0554327 76.2977 0.455548 80.0643L5.3811 81.0714C11.5208 82.3408 17.9088 81.1128 23.1517 77.6636L33.8307 70.6133C35.4035 69.5785 37.1971 68.9024 39.0598 68.6541C40.9224 68.4057 42.8264 68.5713 44.62 69.1508L60.8177 74.4213L64.0186 75.4698L62.2664 77.8705C59.9071 81.099 55.7542 82.7409 51.7531 82.7547L42.3848 82.8099C37.818 82.8375 33.3064 83.8171 29.1397 85.6935C24.9729 87.5699 21.2477 90.2879 18.1986 93.6958L7.87837 105.203C9.6168 108.638 11.645 111.935 13.9215 115.054L26.4354 101.105C28.4498 98.8559 30.9195 97.0484 33.6651 95.8067C36.4245 94.565 39.4047 93.9165 42.4262 93.9027H46.2066C47.7243 93.8889 49.2144 93.613 50.6355 93.0749L25.5524 127.609C26.9459 128.796 28.4084 129.927 29.9123 131.031C31.4162 132.121 32.9476 133.155 34.5067 134.121L49.4903 113.495C49.4213 115.192 49.6145 116.889 50.056 118.53L51.5323 123.911C51.9738 125.498 52.0842 127.167 51.8772 128.809C51.6703 130.451 51.146 132.038 50.332 133.473L46.5654 140.095C50.1112 141.461 53.7536 142.537 57.465 143.324L59.9485 138.95C63.0529 133.5 63.8669 127.043 62.1974 121L58.8172 108.679C58.3205 106.858 58.2377 104.954 58.5688 103.092C58.9137 101.243 59.6588 99.4767 60.7625 97.9591L70.793 84.1482L72.766 81.4302L74.5044 83.8309C76.8637 87.0594 77.1259 91.5296 75.8979 95.3376L73.0557 104.264C71.6622 108.61 71.2069 113.205 71.7036 117.744C72.2003 122.283 73.6352 126.671 75.9393 130.617L83.7071 143.972C87.5151 143.379 91.2679 142.468 94.9379 141.282L85.5421 125.056C84.0244 122.449 83.0724 119.551 82.7413 116.558C82.4101 113.564 82.7137 110.528 83.6243 107.645L84.7694 104.057C85.2247 102.622 85.4179 101.105 85.3351 99.5871L110.418 134.121C111.977 133.155 113.509 132.134 115.013 131.044C116.517 129.954 117.965 128.809 119.373 127.623L104.375 106.996C105.976 107.589 107.645 107.921 109.356 108.003L114.93 108.265C118.269 108.417 121.401 109.894 123.65 112.349L128.796 117.965C131.183 115.012 133.335 111.88 135.225 108.597L131.817 104.885C129.72 102.595 127.209 100.732 124.395 99.4077C121.58 98.0832 118.545 97.3382 115.44 97.1864L102.692 96.5794C100.802 96.4966 98.9666 95.9861 97.2972 95.1031C95.6277 94.2063 94.1928 92.9507 93.0753 91.433L83.0448 77.636L81.0718 74.9179L83.9416 73.9798Z" fill="black"/>
</g>
<mask id="mask1_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask1_952_9786)">
<path d="M196.415 116.296L202.514 100.015H240.538L246.637 116.296H262.42L229.418 31.9131H213.993L181.114 116.296H196.415ZM221.65 49.7389L235.737 86.9358H207.287L221.374 49.7389H221.65Z" fill="black"/>
</g>
<mask id="mask2_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask2_952_9786)">
<path d="M280.784 27.166H266.56V116.295H280.784V27.166Z" fill="black"/>
</g>
<mask id="mask3_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask3_952_9786)">
<path d="M344.485 80.8782C344.485 70.9029 349.99 65.3151 358.475 65.3151C367.085 65.3151 370.189 71.3583 370.189 79.333V116.295H384.414V77.5531C384.414 63.5215 376.756 53.1875 361.814 53.1875C352.253 53.1875 345.561 56.9955 340.774 62.9282C337.311 56.9817 331.088 53.1875 322.12 53.1875C312.2 53.1875 306.212 57.9475 303.59 62.8179V54.6224H290.442V116.295H304.667V80.4091C304.667 71.0271 310.048 65.3151 318.533 65.3151C327.018 65.3151 330.246 71.2617 330.246 79.333V116.295H344.471V80.8782H344.485Z" fill="black"/>
</g>
<mask id="mask4_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask4_952_9786)">
<path d="M433.297 87.2939V91.2122C433.297 99.5319 427.681 106.665 416.188 106.665C409.373 106.665 405.192 104.402 405.192 98.5799C405.192 94.3028 408.062 91.088 416.795 89.7911L433.297 87.2939ZM413.332 117.716C423.252 117.716 430.441 114.502 434.607 108.21C434.607 113.205 435.325 116.295 435.449 116.295H448.956C447.88 113.784 447.163 108.693 447.163 104.651V76.2424C447.163 62.1004 438.553 53.1875 420.383 53.1875C401.605 53.1875 394.196 63.1628 392.995 73.9797H406.862C407.814 68.2677 412.242 64.8322 420.01 64.8322C428.495 64.8322 433.283 68.6402 433.283 76.1182V77.0702L415.347 79.5813C398.97 81.844 391.561 88.6322 391.561 99.0766C391.574 109.645 397.907 117.716 413.332 117.716Z" fill="black"/>
</g>
<mask id="mask5_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask5_952_9786)">
<path d="M471.225 54.6223H458.062V116.309H472.287V80.5332C472.287 70.9028 477.917 65.3288 486.885 65.3288C495.37 65.3288 499.192 70.9166 499.192 79.3466V116.309H513.416V77.5668C513.416 63.1764 505.414 53.2012 490.334 53.2012C480.179 53.2012 473.833 57.9612 471.225 62.8315V54.6223Z" fill="black"/>
</g>
<mask id="mask6_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask6_952_9786)">
<path d="M562.396 87.2939V91.2122C562.396 99.5319 556.781 106.665 545.288 106.665C538.472 106.665 534.292 104.402 534.292 98.5799C534.292 94.3028 537.161 91.088 545.881 89.7911L562.396 87.2939ZM542.418 117.716C552.338 117.716 559.527 114.502 563.693 108.21C563.693 113.205 564.411 116.295 564.535 116.295H578.042C576.966 113.784 576.249 108.693 576.249 104.651V76.2424C576.249 62.1004 567.639 53.1875 549.468 53.1875C530.704 53.1875 523.309 63.1628 522.095 73.9797H535.961C536.913 68.2677 541.342 64.8322 549.11 64.8322C557.595 64.8322 562.383 68.6402 562.383 76.1182V77.0702L544.446 79.5813C528.069 81.844 520.66 88.6322 520.66 99.0766C520.66 109.645 526.993 117.716 542.418 117.716Z" fill="black"/>
</g>
<mask id="mask7_952_9786" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="644" height="144">
<path d="M643.468 0H0V144H643.468V0Z" fill="white"/>
</mask>
<g mask="url(#mask7_952_9786)">
<path d="M583.092 85.5142C583.092 103.34 595.771 117.717 614.052 117.717C632.472 117.717 641.798 104.996 643.468 93.9442H628.884C627.215 100.594 621.586 105.23 613.942 105.23C603.774 105.23 597.344 97.0347 597.344 85.5003C597.344 73.8556 603.801 65.6602 613.942 65.6602C621.586 65.6602 627.215 70.296 628.884 76.9462H643.468C641.798 65.8809 632.472 53.1738 614.052 53.1738C595.758 53.1876 583.092 67.5642 583.092 85.5142Z" fill="black"/>
</g>
</svg>
</div>