---
// Converted from trademark__Wati.svg
---

<div class="trademark-svg-wrap">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="auto" height="100%" width="auto" height="100%" width="100%" height="100%" viewBox="0 0 320 109" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g id="trademark__Wati">
        <g id="wordmark__Wati">
            <g transform="matrix(1,0,0,1,0,-2.34)">
                <path d="M158.84,76.31L145.6,34.53L159.95,34.53L167.81,64.86L163.54,64.95L172.77,34.53L186.1,34.53L195.41,64.95L191.14,64.86L199.09,34.53L213.44,34.53L200.2,76.31L186.79,76.31L177.9,47.52L181.23,47.52L172.09,76.31L158.84,76.31Z" style="fill:rgb(235,235,233);fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-2.31999)">
                <path d="M234.71,77.15C230.78,77.15 227.32,76.21 224.33,74.33C221.34,72.45 218.98,69.87 217.24,66.6C215.5,63.33 214.63,59.58 214.63,55.37C214.63,51.16 215.5,47.5 217.24,44.22C218.98,40.95 221.35,38.37 224.37,36.49C227.39,34.61 230.81,33.67 234.62,33.67C237.3,33.67 239.72,34.14 241.88,35.08C244.04,36.02 245.82,37.33 247.22,39.01C248.62,40.69 249.46,42.64 249.74,44.86L249.74,65.88C249.4,68.1 248.53,70.07 247.13,71.77C245.73,73.48 243.95,74.8 241.79,75.74C239.62,76.68 237.26,77.15 234.7,77.15L234.71,77.15ZM237.87,63.91C240.32,63.91 242.28,63.11 243.76,61.52C245.24,59.93 245.98,57.88 245.98,55.37C245.98,53.78 245.64,52.34 244.95,51.06C244.27,49.78 243.33,48.77 242.13,48.03C240.93,47.29 239.54,46.92 237.94,46.92C236.34,46.92 234.93,47.29 233.71,48.03C232.48,48.77 231.52,49.78 230.8,51.06C230.09,52.34 229.73,53.78 229.73,55.37C229.73,56.96 230.07,58.49 230.75,59.77C231.43,61.05 232.4,62.06 233.65,62.8C234.9,63.54 236.3,63.91 237.84,63.91L237.87,63.91ZM245.47,76.3L245.47,65.02L247.61,54.94L245.47,44.77L245.47,34.52L260.17,34.52L260.17,76.3L245.47,76.3Z" style="fill:rgb(235,235,233);fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-19.6)">
                <path d="M265.29,64.18L265.29,51.79L298.61,51.79L298.61,64.18L265.29,64.18ZM274.43,93.57L274.43,34.53L289.38,34.53L289.38,93.57L274.43,93.57Z" style="fill:rgb(235,235,233);fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-23.1)">
                <path d="M311.26,50.51C308.98,50.51 307.1,49.73 305.62,48.16C304.14,46.59 303.4,44.7 303.4,42.48C303.4,40.26 304.14,38.38 305.62,36.84C307.1,35.3 308.98,34.53 311.26,34.53C313.54,34.53 315.33,35.3 316.81,36.84C318.29,38.38 319.03,40.26 319.03,42.48C319.03,44.7 318.29,46.6 316.81,48.16C315.33,49.73 313.48,50.51 311.26,50.51ZM303.66,97.07L303.66,55.29L318.61,55.29L318.61,97.07L303.66,97.07Z" style="fill:rgb(235,235,233);fill-rule:nonzero;"/>
            </g>
        </g>
        <g id="appIcon__Wati">
            <g transform="matrix(1,0,0,1,0,16.01)">
                <path d="M36.56,70.32L73.69,70.32L95.88,92.49L95.88,70.32L105.36,70.32C116.67,70.32 125.92,61.07 125.92,49.76L125.92,20.56C125.92,9.25 116.67,0 105.36,0L36.56,0C25.25,0 16,9.25 16,20.56L16,49.76C16,61.07 25.25,70.32 36.56,70.32Z" style="fill:rgb(0,231,133);fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,0,-6.33)">
                <path d="M83.9,108.5L60.04,84.66L24.56,84.66C11.02,84.66 0,73.64 0,60.1L0,30.89C0,17.35 11.02,6.33 24.56,6.33L93.36,6.33C106.9,6.33 117.92,17.35 117.92,30.89L117.92,60.09C117.92,73.63 106.9,84.65 93.36,84.65L83.88,84.65L83.88,76.65L93.36,76.65C102.49,76.65 109.92,69.22 109.92,60.09L109.92,30.89C109.92,21.76 102.49,14.33 93.36,14.33L24.56,14.33C15.43,14.33 8,21.76 8,30.89L8,60.09C8,69.22 15.43,76.65 24.56,76.65L63.35,76.65L83.97,97.25L83.9,108.49L83.9,108.5Z" style="fill:rgb(233,233,232);fill-rule:nonzero;"/>
            </g>
        </g>
    </g>
</svg>
</div>