---
// Converted from trademark__Kontent-AI.svg
---

<div class="trademark-svg-wrap">
<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="auto" height="100%">
<g clip-path="url(#clip0_2183_1236)">
<path d="M113.925 42.6206L128.183 24.9194H139.722L126.189 41.1103L140.447 64.7926H128.666L118.758 47.6953L113.925 53.5556V64.7926H103.534V24.9194H113.925V42.6206Z" fill="white"/>
<path d="M172.451 49.6889C172.451 59.5969 165.926 65.3966 156.441 65.3966C146.956 65.3966 140.492 59.5969 140.492 49.6889C140.492 39.7812 147.017 33.9814 156.441 33.9814C165.866 33.9814 172.451 39.7812 172.451 49.6889ZM150.823 49.6889C150.823 55.6095 152.877 58.0866 156.441 58.0866C160.006 58.0866 162.12 55.6095 162.12 49.6889C162.12 43.7685 160.006 41.2915 156.441 41.2915C152.877 41.2915 150.823 43.7685 150.823 49.6889Z" fill="white"/>
<path d="M177.284 34.5777H186.467L186.769 40.6796C188.582 36.2694 192.267 33.9736 197.1 33.9736C203.322 33.9736 207.552 37.6588 207.552 44.6669V64.7847H197.281V47.3855C197.281 43.2169 195.529 41.8274 192.992 41.8274C190.031 41.8274 187.554 43.7607 187.554 48.7751V64.7847H177.284V34.5777Z" fill="white"/>
<path d="M235.388 41.8953H226.386V54.0385C226.386 56.9384 227.836 58.0863 230.373 58.0863C232.306 58.0863 233.575 57.603 234.783 56.7571L235.871 63.1006C233.877 64.4901 230.494 65.3963 227.353 65.3963C220.465 65.3963 216.176 62.7381 216.116 55.7302V41.8953H210.92V34.5853H216.116V27.819L226.386 24.9795V34.5853H235.388V41.8953Z" fill="white"/>
<path d="M237.758 49.6889C237.758 39.7206 244.222 33.9814 253.586 33.9814C262.95 33.9814 268.569 39.9624 268.569 48.2995C268.569 49.8098 268.448 51.3201 268.327 52.2868H247.726C248.33 56.5157 250.566 58.1469 254.07 58.1469C257.09 58.1469 258.842 56.8782 259.749 54.7033L267.965 57.422C266.213 62.6176 260.413 65.3966 254.07 65.3966C244.041 65.3966 237.758 59.6572 237.758 49.6889ZM247.787 46.7891H258.842C258.419 43.1642 256.667 41.1706 253.586 41.1706C250.505 41.1706 248.451 42.9226 247.787 46.7891Z" fill="white"/>
<path d="M273.584 34.5777H282.767L283.069 40.6796C284.881 36.2694 288.567 33.9736 293.4 33.9736C299.622 33.9736 303.851 37.6588 303.851 44.6669V64.7847H293.581V47.3855C293.581 43.2169 291.829 41.8274 289.292 41.8274C286.331 41.8274 283.854 43.7607 283.854 48.7751V64.7847H273.584V34.5777Z" fill="white"/>
<path d="M331.679 41.8953H322.677V54.0385C322.677 56.9384 324.127 58.0863 326.665 58.0863C328.598 58.0863 329.867 57.603 331.075 56.7571L332.162 63.1006C330.169 64.4901 326.786 65.3963 323.644 65.3963C316.757 65.3963 312.467 62.7381 312.407 55.7302V41.8953H307.211V34.5853H312.407V27.819L322.677 24.9795V34.5853H331.679V41.8953Z" fill="white"/>
<path d="M348.234 59.8991C348.234 63.2822 345.938 65.3364 342.192 65.3364C338.447 65.3364 336.151 63.2822 336.151 59.8991C336.151 56.5159 338.447 54.4014 342.192 54.4014C345.938 54.4014 348.234 56.4556 348.234 59.8991Z" fill="#3DCCA8"/>
<path d="M367.112 41.0499C364.453 41.0499 362.46 42.1977 361.735 45.5809L353.035 43.5267C354.123 37.727 358.956 33.9814 367.716 33.9814C376.476 33.9814 381.671 37.9688 381.671 45.46V56.5157C381.671 58.1469 382.396 58.8719 383.786 58.8719C384.45 58.8719 385.055 58.8115 385.538 58.6303L384.934 64.4904C383.786 65.0341 382.336 65.3362 380.524 65.3362C376.718 65.3362 373.818 63.8863 372.851 60.8052C371.159 63.8863 367.112 65.3966 363.004 65.3966C356.781 65.3966 352.854 62.4967 352.854 57.0595C352.854 52.7097 355.391 49.8098 361.01 48.662L371.462 46.4871V45.6413C371.462 42.8017 369.77 41.0499 367.112 41.0499ZM366.266 58.751C368.984 58.751 371.462 57.1804 371.462 53.6159V51.9244L366.568 52.9513C364.151 53.4346 363.004 54.2805 363.004 56.0929C363.004 57.9053 364.453 58.751 366.266 58.751Z" fill="white"/>
<path d="M388.023 26.1804C388.023 22.7368 389.836 21.2266 394.004 21.2266C398.173 21.2266 399.985 22.7368 399.985 26.1804C399.985 29.624 398.173 31.074 394.004 31.074C389.836 31.074 388.023 29.5637 388.023 26.1804ZM399.14 64.7849H388.869V34.5779H399.14V64.7849Z" fill="white"/>
<path d="M41.5346 0.308105C64.4739 0.308105 83.069 18.9031 83.069 41.8427C83.069 64.7821 64.4739 83.3771 41.5346 83.3771C18.595 83.3771 0 64.7821 0 41.8427C0 18.9031 18.595 0.308105 41.5346 0.308105Z" fill="#3DCCA8"/>
<path d="M29.7094 23.1273V41.631C29.7136 41.9799 29.4644 42.2831 29.1197 42.3413C26.7563 42.8147 17.8887 43.9984 17.8887 36.4308V23.2479C17.8887 19.9832 20.5344 17.3374 23.799 17.3374C27.0637 17.3374 29.7094 19.9832 29.7094 23.2479" fill="white"/>
<path d="M47.4448 34.9521V53.5179C47.4199 53.8461 47.1789 54.116 46.855 54.17C44.4916 54.6394 35.624 55.8231 35.624 48.2555V35.0726C35.624 31.8079 38.2698 29.1621 41.5345 29.1621C44.799 29.1621 47.4448 31.8079 47.4448 35.0726" fill="white"/>
<path d="M65.184 46.7772V65.3431C65.1592 65.6713 64.9183 65.9412 64.5943 65.9952C62.2309 66.4646 53.3633 67.6483 53.3633 60.0807V46.8976C53.3633 43.6331 56.009 40.9873 59.2737 40.9873C62.5383 40.9873 65.184 43.6331 65.184 46.8976" fill="white"/>
</g>
<defs>
<clipPath id="clip0_2183_1236">
<rect width="400" height="83.1898" fill="white" transform="translate(0 0.308105)"/>
</clipPath>
</defs>
</svg>
</div>