---
// Converted from trademark__Invideo-AI--Lightest.svg
---

<div class="trademark-svg-wrap">
<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="auto" height="100%">
<path d="M25.0906 125.206C11.2334 125.206 -6.19904e-07 117.256 0 107.45C5.02586e-07 99.5001 7.38392 92.7703 17.5634 90.5078H87.8172C75.3898 111.234 51.9541 125.206 25.0906 125.206Z" fill="url(#paint0_linear_2275_1507)"/>
<path d="M24.8857 48.1378C24.8857 23.6145 44.3165 3.73438 68.2857 3.73438C114.752 3.73438 155.29 38.6749 176.785 90.5088H176.79C155.294 142.359 114.755 177.311 68.287 177.311C44.3171 177.311 24.8857 157.425 24.8857 132.893C24.8857 113.004 37.6584 96.1689 55.2666 90.5088C37.659 84.8504 24.8857 68.0204 24.8857 48.1378Z" fill="url(#paint1_linear_2275_1507)"/>
<path d="M68.2808 3.70312C44.3106 3.70312 24.8789 23.5933 24.8789 48.1291C24.8789 68.0213 37.6515 84.86 55.2604 90.521H176.786C155.289 38.6614 114.75 3.70312 68.2808 3.70312Z" fill="url(#paint2_linear_2275_1507)"/>
<path d="M87.2822 133.035C74.769 133.035 64.625 123.292 64.625 111.273C64.625 101.529 71.2927 93.2808 80.4853 90.5078H143.926C132.704 115.911 111.541 133.035 87.2822 133.035Z" fill="url(#paint3_linear_2275_1507)" fill-opacity="0.7"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.985 73.3682C134.898 73.3682 138.882 69.3847 138.882 64.4714C138.882 59.5577 134.898 55.5742 129.985 55.5742C125.071 55.5742 121.088 59.5577 121.088 64.4714C121.088 69.3847 125.071 73.3682 129.985 73.3682Z" fill="white"/>
<path d="M25.0906 55.8086C11.2334 55.8086 -6.19904e-07 63.7578 0 73.564C5.02586e-07 81.5142 7.38392 88.2439 17.5634 90.5065H87.8172C75.3898 69.7801 51.9541 55.8086 25.0906 55.8086Z" fill="url(#paint4_linear_2275_1507)"/>
<path d="M215.563 120.487H232.364V67.7142H215.563V120.487ZM223.981 61.5643C228.757 61.5643 232.605 57.9569 232.605 53.5247C232.605 49.0925 228.757 45.5195 223.981 45.5195C219.24 45.5195 215.357 49.0925 215.357 53.5247C215.357 57.9569 219.24 61.5643 223.981 61.5643Z" fill="#E9EAF7"/>
<path d="M259.858 90.3901C259.893 84.3777 263.397 80.8044 268.723 80.8044C274.048 80.8044 277.209 84.309 277.174 90.1496V120.487H293.975V86.8515C294.01 74.9637 286.76 67.0273 275.663 67.0273C267.864 67.0273 261.954 70.9783 259.618 77.4031H259.034V67.7142H243.058V120.487H259.858V90.3901Z" fill="#E9EAF7"/>
<path d="M353.681 67.7148H335.987L326.228 104.065H325.678L315.956 67.7148H298.262L316.333 120.488H335.575L353.681 67.7148Z" fill="#E9EAF7"/>
<path d="M360.122 120.487H376.923V67.7142H360.122V120.487ZM368.54 61.5643C373.313 61.5643 377.161 57.9569 377.161 53.5247C377.161 49.0925 373.313 45.5195 368.54 45.5195C363.796 45.5195 359.916 49.0925 359.916 53.5247C359.916 57.9569 363.796 61.5643 368.54 61.5643Z" fill="#E9EAF7"/>
<path d="M406.89 121.245C414.862 121.245 419.603 116.812 421.734 111.934H422.248V120.489H438.876V50.125H422.078V76.7518H421.734C419.741 71.9076 415.135 67.0289 406.823 67.0289C395.795 67.0289 385.795 75.515 385.795 94.1366C385.795 112.105 395.245 121.245 406.89 121.245ZM412.731 108.154C406.511 108.154 403.043 102.623 403.043 94.1022C403.043 85.6162 406.479 80.1532 412.731 80.1532C418.88 80.1532 422.454 85.4786 422.454 94.1022C422.454 102.657 418.847 108.154 412.731 108.154Z" fill="#E9EAF7"/>
<path d="M474.02 121.483C487.864 121.483 496.97 114.784 498.892 104.408L483.467 103.961C482.162 107.466 478.726 109.355 474.329 109.355C467.868 109.355 463.882 105.061 463.882 98.6016V98.1548H499.066V93.9634C499.066 76.5786 488.484 67.0273 473.503 67.0273C457.563 67.0273 447.322 77.953 447.322 94.307C447.322 111.211 457.425 121.483 474.02 121.483ZM463.882 88.3975C464.123 83.1409 468.283 79.1555 473.847 79.1555C479.378 79.1555 483.364 83.0033 483.432 88.3975H463.882Z" fill="#E9EAF7"/>
<path d="M532.279 121.483C548.875 121.483 558.942 110.524 558.942 94.2726C558.942 77.9871 548.875 67.0273 532.279 67.0273C515.687 67.0273 505.62 77.9871 505.62 94.2726C505.62 110.524 515.687 121.483 532.279 121.483ZM532.382 108.806C526.166 108.806 522.73 102.896 522.73 94.1694C522.73 85.4086 526.166 79.4647 532.382 79.4647C538.396 79.4647 541.832 85.4086 541.832 94.1694C541.832 102.896 538.396 108.806 532.382 108.806Z" fill="#E9EAF7"/>
<path d="M593.254 121.055H574.978L598.719 50.6914H621.36L645.101 121.055H626.821L610.297 68.4198H609.747L593.254 121.055ZM590.815 93.363H629.023V106.282H590.815V93.363ZM667.916 50.6914V121.055H650.909V50.6914H667.916Z" fill="#E9EAF7"/>
<defs>
<linearGradient id="paint0_linear_2275_1507" x1="7.37213e-08" y1="107.538" x2="86.7857" y2="107.538" gradientUnits="userSpaceOnUse">
<stop stop-color="#00A0F5"/>
<stop offset="1" stop-color="#4F3CE4" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear_2275_1507" x1="99.6462" y1="-49.3013" x2="100.838" y2="177.311" gradientUnits="userSpaceOnUse">
<stop stop-color="#44DEF8"/>
<stop offset="0.505208" stop-color="#5836C7"/>
<stop offset="1" stop-color="#432CB6"/>
</linearGradient>
<linearGradient id="paint2_linear_2275_1507" x1="100.833" y1="90.521" x2="99.6426" y2="-20.3719" gradientUnits="userSpaceOnUse">
<stop stop-color="#41D4EE" stop-opacity="0"/>
<stop offset="1" stop-color="#40DBF0"/>
</linearGradient>
<linearGradient id="paint3_linear_2275_1507" x1="64.625" y1="90.5078" x2="64.625" y2="133.035" gradientUnits="userSpaceOnUse">
<stop stop-color="#276EEC" stop-opacity="0"/>
<stop offset="1" stop-color="white"/>
</linearGradient>
<linearGradient id="paint4_linear_2275_1507" x1="7.37213e-08" y1="72.8388" x2="86.7857" y2="72.8388" gradientUnits="userSpaceOnUse">
<stop stop-color="#00A0F5"/>
<stop offset="1" stop-opacity="0"/>
</linearGradient>
</defs>
</svg>
</div>