---
// Converted from workdmark__Sanity.svg
---

<div class="trademark-svg-wrap">
<svg width="auto" height="100%" width="auto" height="100%" width="400" height="81" viewBox="0 0 400 81" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1193_3409)">
<path d="M298.219 29.0614V79.7004H281.906V21.1313L298.219 29.0614Z" fill="#F37368"/>
<path d="M67.3418 70.2974L79.5767 80.9463L131.122 54.0975L125.798 41.2961L67.3418 70.2974ZM281.906 37.6709L323.369 16.1465L316.345 4.0249L281.906 21.1311V37.6709Z" fill="#F7A199"/>
<path d="M165.221 25.0963V79.7003H149.588V1.87256L165.221 25.0963ZM67.3418 70.2975L79.5767 80.9464L103.14 22.0375L95.5501 1.87256L67.3418 70.2975Z" fill="#F37368"/>
<path d="M95.5498 1.87256H111.636L141.431 79.7003H124.891L95.5498 1.87256ZM167.6 1.87256L201.926 55.0038V79.7003L149.587 1.87256H167.6ZM231.38 1.87256H247.58V79.7003H231.38V1.87256ZM281.906 16.1466H256.983V1.87256H315.099L323.369 16.1466H298.219H281.906Z" fill="#F04939"/>
<path d="M371.289 50.1328V79.7005H355.202V50.1328" fill="#F7A199"/>
<path d="M382.391 1.87256L355.202 50.1325H371.289L399.497 1.87256H382.391Z" fill="#F04939"/>
<path d="M355.202 50.1325L327.107 1.87256H344.78L363.699 34.9522L355.202 50.1325Z" fill="#F37368"/>
<path d="M6.96016 10.9355C6.96016 21.6977 13.6441 28.1551 27.0118 31.5537L41.1726 34.839C53.8607 37.7844 61.5642 45.0347 61.5642 56.8165C61.6775 61.9144 59.9782 66.899 56.9194 70.9773C56.9194 59.1955 50.802 52.8515 36.188 48.9997L22.2538 45.8277C11.0385 43.3354 2.42871 37.3313 2.42871 24.5299C2.42871 19.6586 4.01472 14.7873 6.96016 10.9355Z" fill="#F04939"/>
<path d="M201.926 51.0388V1.87256H217.559V79.7003H201.926V51.0388Z" fill="#F37368"/>
<path d="M48.1965 53.871C54.2006 57.7228 56.9195 63.1605 56.9195 70.9773C51.8216 77.4346 43.0986 80.9465 32.7895 80.9465C15.4567 80.9465 3.10852 72.3367 0.50293 57.4962H17.156C19.3085 64.2934 24.9728 67.4654 32.6762 67.4654C41.8524 67.5787 48.0832 62.5941 48.1965 53.871ZM15.6833 26.9089C10.019 23.5103 6.73368 17.3928 6.96025 10.8222C11.8316 4.4782 20.2147 0.626465 30.4105 0.626465C48.1965 0.626465 58.3922 10.0292 60.9978 23.1704H44.9112C43.0986 17.9593 38.6804 13.881 30.6371 13.881C21.914 13.9943 16.0232 18.9788 15.6833 26.9089Z" fill="#F37368"/>
</g>
<defs>
<clipPath id="clip0_1193_3409">
<rect width="400" height="80.32" fill="white" transform="translate(0 0.626465)"/>
</clipPath>
</defs>
</svg>
</div>