---

---

<aside class="callout">
   <header class="callout-header">Callout Header</header>
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <details class="callout-container">
     <p>Some text...</p>
   </details>
</aside>