---
// Converted from trademark__Molmo-AI--Lightest.svg
---

<div class="trademark-svg-wrap">
<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="auto" height="100%">
<g clip-path="url(#clip0_2274_1413)">
<path d="M393.83 176.046H368.07V29.7417L317.052 176.046H283.039L232.02 29.7417V176.046H206.261V9.73438H251.027L300.295 151.037L349.564 9.73438H393.83V176.046Z" fill="white"/>
<path d="M478.081 180.05C464.075 180.05 452.238 177.132 442.567 171.296C432.897 165.461 425.645 157.541 420.809 147.537C415.974 137.367 413.557 125.946 413.557 113.275C413.557 100.77 415.974 89.516 420.809 79.5122C425.644 69.5087 432.897 61.589 442.567 55.7535C452.238 49.9179 464.075 47 478.081 47C492.086 47 503.923 49.9176 513.591 55.7535C523.264 61.589 530.516 69.5919 535.353 79.7623C540.184 89.7661 542.605 100.937 542.605 113.275C542.605 125.779 540.185 137.117 535.353 147.287C530.516 157.291 523.264 165.294 513.591 171.296C503.923 177.132 492.086 180.05 478.081 180.05ZM438.816 113.525C438.816 130.031 441.9 141.952 448.069 149.288C454.405 156.458 464.409 160.042 478.08 160.042C491.752 160.042 501.672 156.457 507.841 149.288C514.179 141.952 517.343 130.031 517.343 113.525C517.343 97.0188 514.179 85.1809 507.841 78.0114C501.673 70.6755 491.752 67.0076 478.08 67.0076C464.408 67.0076 454.405 70.6755 448.069 78.0114C441.9 85.1809 438.816 97.0188 438.816 113.525Z" fill="white"/>
<path d="M563.611 0.984375H588.622V176.049H563.611V0.984375Z" fill="white"/>
<path d="M792.006 100.27C792.006 88.7655 789.751 80.5125 785.251 75.5107C780.751 70.3421 774.162 67.7579 765.493 67.7579C753.655 67.7579 744.736 72.1759 738.734 81.0129C732.898 89.8496 729.98 103.938 729.98 123.279V176.048H705.471V100.27C705.471 88.7655 703.221 80.5125 698.721 75.5107C694.216 70.3421 687.632 67.7579 678.963 67.7579C667.291 67.7579 658.452 72.1759 652.451 81.0129C646.449 89.85 643.451 103.938 643.451 123.279V176.048H618.439V51.0015H643.451V78.2615C651.783 57.4204 666.458 47 687.466 47C698.967 47 708.058 49.7511 714.728 55.253C721.392 60.5881 725.897 68.5913 728.233 79.2618C736.565 57.7537 751.823 47 773.996 47C802.674 47 817.012 64.0061 817.012 98.0188V176.048H792.006L792.006 100.27Z" fill="white"/>
<path d="M899.764 180.05C885.757 180.05 873.92 177.132 864.247 171.296C854.579 165.461 847.326 157.541 842.49 147.537C837.653 137.367 835.237 125.946 835.237 113.275C835.237 100.77 837.653 89.516 842.49 79.5122C847.326 69.5087 854.579 61.589 864.247 55.7535C873.919 49.9179 885.757 47 899.764 47C913.766 47 925.604 49.9176 935.277 55.7535C944.945 61.589 952.197 69.5919 957.034 79.7623C961.87 89.7661 964.286 100.937 964.286 113.275C964.286 125.779 961.87 137.117 957.034 147.287C952.197 157.291 944.945 165.294 935.277 171.296C925.604 177.132 913.766 180.05 899.764 180.05ZM860.495 113.525C860.495 130.031 863.583 141.952 869.751 149.288C876.084 156.458 886.089 160.042 899.764 160.042C913.435 160.042 923.354 156.457 929.522 149.288C935.86 141.952 939.029 130.031 939.029 113.525C939.029 97.0188 935.86 85.1809 929.522 78.0114C923.354 70.6755 913.435 67.0076 899.764 67.0076C886.089 67.0076 876.084 70.6755 869.751 78.0114C863.583 85.1809 860.495 97.0188 860.495 113.525Z" fill="white"/>
<path d="M67.0429 75.8111H33.5215V43.9238H60.507C64.1099 43.9238 67.0429 40.9908 67.0429 37.3879V10.4023H98.9302V43.9238C98.9302 61.5381 84.6572 75.8111 67.0429 75.8111ZM33.5215 79.0791H0V110.967H26.9855C30.5884 110.967 33.5215 113.9 33.5215 117.503V144.488H65.4088V110.967C65.4088 93.3521 51.1357 79.0791 33.5215 79.0791ZM140.622 77.4453C137.019 77.4453 134.086 74.5122 134.086 70.9093V43.9238H102.198V77.4453C102.198 95.0596 116.471 109.333 134.086 109.333H167.607V77.4453H140.622ZM68.6767 144.489V178.01H100.564V151.024C100.564 147.422 103.497 144.489 107.1 144.489H134.086V112.601H100.564C82.9498 112.601 68.6767 126.874 68.6767 144.489Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_2274_1413">
<rect width="964.286" height="180" fill="white" transform="translate(0 0.519531)"/>
</clipPath>
</defs>
</svg>
</div>