---
interface Props {
  title?: string;
  classes?: string;
  imageUrl?: string;
  imageAlt?: string;
}

const { title, classes, imageUrl, imageAlt = "" } = Astro.props;
---

<div class:list={["card", classes]}>
  {imageUrl && (
    <div class="card-image">
      <img src={imageUrl} alt={imageAlt} />
    </div>
  )}
  {title && <h2>{title}</h2>}
  <div class="card-content">
    <slot />
  </div>
</div>

<style>
  .card {
    background: color-mix(in oklab, var(--clr-lossless-primary-glass), var(--clr-lossless-primary-dark) 90%);
    border: 1px solid var(--clr-lossless-ui-btn-border);
    padding: .15em;
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2px;
    box-sizing: border-box;
  }

  .card:hover {
    background: color-mix(in oklab, var(--clr-lossless-primary-glass), var(--clr-lossless-primary-dark) 20%);
    transform: translateY(-2px);
    margin-bottom: 0;
  }

  .card-image {
    margin-top: .5em;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    max-width: calc(100% + 3rem);
    box-sizing: border-box;
  }

  .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1em;
    margin: 0.1em;
  }

  .card h2 {
    color: var(--clr-heading);
    font-size: var(--fs-600);
    margin-bottom: var(--flow-space);
  }

  .card-content {
    color: var(--clr-body);
    font-family: var(--ff-legible);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    flex: 1;
  }
</style>









