---
interface Props {
  columns?: number;
  gap?: string;
  minCardWidth?: string;
}

const { columns = 3, gap = "2rem", minCardWidth = "300px" } = Astro.props;
---

<div class="card-row">
  <slot />
</div>

<style define:vars={{ columns, gap, minCardWidth }}>
  .card-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--minCardWidth), 1fr));
    gap: var(--gap);
    row-gap: 2rem;
    width: 100%;
    padding: 2rem 2rem;
  }

  @media (max-width: 768px) {
    .card-row {
      padding: 0 1rem;
    }
  }
</style>
