---
import "@styles/global.css";
---

<footer>
  <br />
  <br />
  <div class="separator--thin"></div>
  <h1>Footer</h1>
</footer>

<style>
  .separator--thin {
    width: 100%;
    height: 1px;
    background-color: var(--clr-lossless-primary-light);
  }
</style>
