---
// Converted from trademark__Tina-CMS--Lighter.svg
---

<div class="trademark-svg-wrap">
<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="auto" height="80px">
<g clip-path="url(#clip0_2597_1421)">
<path d="M83.2818 80.4076C92.0197 73.1811 95.8924 30.4629 99.675 15.1073C103.46 -0.245621 119.104 0.529968 119.104 0.529968C119.104 0.529968 115.044 7.60026 116.698 12.8759C118.355 18.1514 129.706 22.8659 129.706 22.8659L127.257 29.3194C127.257 29.3194 122.149 28.6656 119.104 34.7511C116.06 40.8341 121.061 101.081 121.061 101.081C121.061 101.081 102.777 137.142 102.777 152.365C102.777 167.591 109.985 180.35 109.985 180.35H99.8735C99.8735 180.35 85.0368 162.694 81.9953 153.874C78.9512 145.051 80.1688 136.229 80.1688 136.229C80.1688 136.229 64.0456 135.316 49.7462 136.229C35.4494 137.142 25.9121 149.432 24.1915 156.307C22.4709 163.184 21.7562 180.35 21.7562 180.35H13.7647C8.89676 165.331 5.02941 159.949 7.12853 152.365C12.9362 131.361 11.7953 119.446 10.4506 114.142C9.10588 108.834 0 104.205 0 104.205C4.46029 95.1173 9.01324 90.7497 28.5962 90.2944C48.1791 89.8391 74.5438 87.6367 83.2818 80.4076Z" fill="#E7B5A7"/>
<path d="M32.4268 151.487C32.4268 151.487 34.4915 170.607 45.4688 180.351H54.8765C45.4688 169.694 44.4444 141.918 44.4444 141.918C39.6585 143.477 33.0356 149.054 32.4268 151.487Z" fill="#E7B5A7"/>
</g>
<path d="M164.618 72.7234H224.002V85.2034H202.474V145.523H186.146V85.2034H164.618V72.7234Z" fill="#FBE8E3"/>
<path d="M239.525 65.8594H256.477V79.0674H239.525V65.8594ZM230.581 99.5554V87.2834H256.373V145.523H241.501V99.5554H230.581Z" fill="#FBE8E3"/>
<path d="M289.614 95.6034H291.174C293.254 89.3634 297.83 85.2034 308.958 85.2034C320.71 85.2034 329.446 91.2354 329.446 105.379V145.523H314.47V109.955C314.47 102.363 311.142 98.2034 303.238 98.2034C295.334 98.2034 290.966 102.987 290.966 112.035V145.523H275.99V87.2834H289.614V95.6034Z" fill="#FBE8E3"/>
<path d="M383.561 136.059H382.521C379.505 142.299 372.433 146.875 363.177 146.875C351.113 146.875 344.353 140.323 344.353 130.547C344.353 120.459 350.593 114.739 361.201 113.075L377.009 110.475C381.377 109.643 382.313 107.875 382.313 105.691V104.131C382.313 100.595 380.233 96.3314 372.537 96.3314C365.777 96.3314 362.137 99.5554 361.513 104.547H347.057C347.889 93.5234 355.793 85.2034 371.809 85.2034C388.969 85.2034 396.665 92.6914 396.665 104.235V133.355H403.633V145.523H383.561V136.059ZM382.313 123.059V116.715H381.273C380.233 117.859 378.361 118.587 375.969 119.107L366.609 121.187C361.825 122.331 359.641 124.723 359.641 128.987C359.641 133.771 362.657 136.267 368.585 136.267C377.321 136.267 382.313 130.131 382.313 123.059Z" fill="#FBE8E3"/>
<path d="M475.33 97.2685H459.938C459.522 87.9085 454.946 82.9165 446.626 82.9165C435.498 82.9165 431.962 90.7165 431.962 109.125C431.962 127.117 436.018 135.229 447.042 135.229C455.674 135.229 460.25 129.717 460.562 121.085H475.85C475.434 137.413 466.49 147.605 446.73 147.605C422.498 147.605 416.258 134.085 416.258 109.125C416.258 85.2045 423.434 70.6445 446.418 70.6445C465.658 70.6445 474.81 80.1085 475.33 97.2685Z" fill="#E7B5A7"/>
<path d="M528.199 119.213H522.687L514.055 105.173C512.391 102.573 509.063 96.4365 508.127 94.2525H506.567C506.879 98.4125 506.983 103.093 506.983 106.629V145.525H491.903V72.7245H508.543L520.919 92.0685C522.687 94.5645 524.247 97.5805 524.663 98.7245H526.223C526.743 97.5805 528.199 94.5645 529.967 91.9645L542.343 72.7245H558.879V145.525H543.903V106.629C543.903 103.821 544.007 98.4125 544.319 94.2525H542.759C542.135 95.9165 538.703 102.053 536.727 105.173L528.199 119.213Z" fill="#E7B5A7"/>
<path d="M629.793 93.0045H614.193C613.361 87.3885 610.969 81.9805 602.129 81.8765C595.161 81.7725 591.417 85.8285 591.313 90.6125C591.209 94.7725 592.769 97.9965 598.593 99.5565L614.609 103.925C624.905 106.629 631.665 113.077 631.561 125.245C631.457 138.245 623.033 147.709 603.377 147.605C584.969 147.501 576.025 139.389 574.777 125.245H591.521C592.561 132.213 596.409 135.749 603.897 135.749C610.969 135.749 615.753 132.941 615.753 127.117C615.753 123.061 613.985 119.109 607.745 117.445L592.249 113.077C583.721 110.685 576.129 104.653 576.233 93.2125C576.337 78.9645 587.465 70.6445 602.441 70.6445C618.977 70.6445 628.233 78.8605 629.793 93.0045Z" fill="#E7B5A7"/>
<defs>
<clipPath id="clip0_2597_1421">
<rect width="129.706" height="180" fill="white" transform="translate(0 0.523438)"/>
</clipPath>
</defs>
</svg>
</div>