---
// Converted from trademark__NocoDB--Lightest.svg
---

<div class="trademark-svg-wrap">
<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="auto" height="100%">
<mask id="mask0_2104_873" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="112" height="113">
<path d="M112 0.460938H0V112.461H112V0.460938Z" fill="white"/>
</mask>
<g mask="url(#mask0_2104_873)">
<path d="M40.4352 52.6793V73.8568C40.4352 77.6368 37.7182 80.7024 34.3674 80.6968L24.502 80.6765L24.5538 56.1629V55.3705C24.6374 49.2392 29.6277 45.3321 34.2348 46.9603C35.3529 47.3579 36.3553 48.0954 37.1851 49.0288L40.4352 52.6793Z" fill="url(#paint0_linear_2104_873)"/>
<path d="M64.5371 54.2469V32.0901C64.5371 28.3071 67.257 25.2414 70.6079 25.25L80.4733 25.2673L80.4215 50.7637V51.5529C80.3351 57.687 75.3448 61.5941 70.7405 59.9634C69.6195 59.5686 68.6199 58.8312 67.79 57.8974L64.5371 54.2469Z" fill="url(#paint1_linear_2104_873)"/>
<path d="M80.4049 49.8679V68.3626C80.4508 77.2743 72.2219 83.3048 65.748 79.536C64.9612 79.0779 64.2524 78.4699 63.613 77.7815L43.5076 56.1259L40.436 52.6798L37.1859 49.0293C36.3564 48.0959 35.3536 47.3581 34.2356 46.9605C29.6285 45.3326 24.6382 49.2397 24.5546 55.371V55.1666L24.5488 39.6336V37.0807C24.5488 27.4517 34.1117 22.035 40.6694 27.9588L67.0444 56.7713C67.6782 57.4657 68.4332 58.0506 69.2945 58.431C74.2446 60.6322 80.4049 56.365 80.4049 49.8679Z" fill="url(#paint2_linear_2104_873)"/>
<path d="M80.4049 67.1491V68.3622C80.4508 77.2739 72.2219 83.3044 65.748 79.5356C64.9612 79.0774 64.2524 78.4695 63.613 77.781L43.5076 56.1255L40.436 52.6794L37.1859 49.0289C36.3564 48.0954 35.3536 47.3576 34.2356 46.96C29.6285 45.3322 24.6382 49.2392 24.5546 55.3705V55.1661L24.5488 39.6331V39.414C25.7532 33.7813 32.1525 31.315 36.1544 35.6484L68.7905 70.9553C72.804 75.3002 79.2233 72.8051 80.4049 67.1491Z" fill="url(#paint3_linear_2104_873)"/>
<path d="M80.1822 100.239C80.1822 98.5359 80.4013 96.8877 80.8105 95.3176H16.0572C12.7841 95.3176 10.1017 92.638 10.1017 89.3589V16.5182C10.1017 13.2451 12.7841 10.5627 16.0572 10.5627H88.9011C92.1771 10.5627 94.8595 13.2451 94.8595 16.5182V81.3894C96.3837 81.0061 97.9769 80.8017 99.6191 80.8017C101.472 80.8017 103.261 81.0639 104.958 81.5507V13.1788C104.958 6.18311 99.2359 0.460938 92.2376 0.460938H12.7207C5.72215 0.460938 0 6.18311 0 13.1788V92.7014C0 99.694 5.72215 105.419 12.7207 105.419H80.8854C80.43 103.768 80.1822 102.034 80.1822 100.239Z" fill="url(#paint4_linear_2104_873)"/>
<path d="M111.841 100.237C111.841 106.988 106.37 112.459 99.6187 112.459C92.8679 112.459 87.3936 106.988 87.3936 100.237C87.3936 93.4861 92.8679 88.0117 99.6187 88.0117C106.37 88.0117 111.841 93.4861 111.841 100.237Z" fill="url(#paint5_linear_2104_873)"/>
</g>
<path d="M144 53.6475L156.849 66.5047V86.8593H144V53.6475ZM197.969 26.3132V84.7632C197.969 85.9633 196.991 86.9332 195.791 86.9332C195.216 86.9332 194.665 86.7113 194.254 86.3004L144 40.9792V28.1546C144 26.9544 144.97 25.9844 146.17 25.9844H146.285C146.861 25.9844 147.42 26.2146 147.823 26.6174L185.112 58.9745V26.3132H197.969Z" fill="url(#paint6_linear_2104_873)"/>
<path d="M236.246 39.211C226.554 39.211 218.678 47.0949 218.678 56.7787C218.678 66.4712 226.554 74.355 236.246 74.355C245.93 74.355 253.814 66.4712 253.814 56.7787C253.814 47.0949 245.93 39.211 236.246 39.211ZM266.4 56.7787C266.4 73.4096 252.868 86.9326 236.246 86.9326C219.615 86.9326 206.084 73.4096 206.084 56.7787C206.084 40.1565 219.615 26.625 236.246 26.625C252.868 26.625 266.4 40.1565 266.4 56.7787Z" fill="url(#paint7_linear_2104_873)"/>
<path d="M333.858 62.8055L332.839 65.9625C330.874 72.013 327.117 77.2168 321.979 81.0146C316.726 84.8867 310.503 86.9335 303.96 86.9335C296.626 86.9335 289.548 84.2864 284.024 79.4774C278.557 74.7174 274.965 68.1654 273.92 61.03C273.707 59.5666 273.592 58.0704 273.592 56.5741C273.592 55.1356 273.699 53.6971 273.896 52.3076C274.907 45.1228 278.475 38.5296 283.958 33.7287C289.491 28.8866 296.593 26.2148 303.951 26.2148C310.667 26.2148 317.03 28.3604 322.357 32.4297C327.512 36.3593 331.334 41.9329 333.118 48.1314L334.006 51.2142H320.697L320.072 49.7428C317.31 43.2566 310.988 39.0722 303.951 39.0722C295.648 39.0722 288.43 44.9748 286.786 53.1133C286.564 54.2477 286.441 55.4069 286.441 56.5741C286.441 57.7827 286.573 58.9993 286.819 60.1749C288.513 68.2312 295.714 74.0846 303.951 74.0846C310.626 74.0846 316.816 70.1877 319.727 64.1621L320.384 62.8055H333.858Z" fill="url(#paint8_linear_2104_873)"/>
<path d="M373.369 39.211C363.677 39.211 355.8 47.0949 355.8 56.7787C355.8 66.4712 363.677 74.355 373.369 74.355C383.053 74.355 390.935 66.4712 390.935 56.7787C390.935 47.0949 383.053 39.211 373.369 39.211ZM403.521 56.7787C403.521 73.4096 389.99 86.9326 373.369 86.9326C356.737 86.9326 343.206 73.4096 343.206 56.7787C343.206 40.1565 356.737 26.625 373.369 26.625C389.99 26.625 403.521 40.1565 403.521 56.7787Z" fill="url(#paint9_linear_2104_873)"/>
<path d="M467.716 56.7899C467.716 58.2861 467.601 59.7824 467.387 61.2373C465.406 74.7193 454.581 85.283 441.057 86.9193L440.91 86.9354H412.728V48.2565H425.587V74.0865H440.045C447.206 72.9767 452.992 67.4932 454.49 60.3907C454.735 59.207 454.861 57.9984 454.861 56.7899C454.861 55.6226 454.745 54.455 454.514 53.3291C453.674 49.1529 451.326 45.4205 447.906 42.8308C445.799 41.2278 443.398 40.1509 440.843 39.6331C439.972 39.4522 439.076 39.3453 438.173 39.296H412.728V26.4141L439.667 26.5127C446.244 27.0141 452.509 29.653 457.475 34.0511C462.883 38.8356 466.411 45.396 467.412 52.5069C467.611 53.9045 467.716 55.3514 467.716 56.7899Z" fill="url(#paint10_linear_2104_873)"/>
<path d="M489.707 73.8953H514.347C516.762 73.2705 518.488 71.0592 518.488 68.5438C518.488 65.9625 516.706 63.7344 514.214 63.159H489.707V73.8953ZM531.364 68.5438C531.364 71.6675 530.566 74.7587 529.054 77.4716C525.806 83.3082 519.65 86.9335 512.972 86.9335C512.275 86.9335 511.575 86.9009 510.886 86.8187C510.186 86.9009 509.486 86.9335 508.796 86.9335H476.852V50.0221H509.888C512.471 49.5045 514.319 47.2599 514.319 44.6129C514.319 42.1219 512.618 39.919 510.235 39.2777H489.707V39.2941H476.852V26.2148H508.796C515.366 26.2148 521.473 29.7498 524.753 35.4386C524.802 35.529 524.851 35.6194 524.9 35.7099C526.405 38.4227 527.196 41.4972 527.196 44.6129C527.196 47.7534 526.391 50.8527 524.861 53.582C524.837 53.6313 524.812 53.6803 524.777 53.7216L524.77 53.7465L524.76 53.7545V53.7626C524.672 53.9106 524.588 54.0587 524.497 54.2067C524.728 54.3877 524.949 54.5767 525.166 54.7741C526.716 56.1468 528.018 57.7662 529.026 59.5747C530.556 62.304 531.364 65.4032 531.364 68.5438Z" fill="url(#paint11_linear_2104_873)"/>
<defs>
<linearGradient id="paint0_linear_2104_873" x1="27.7036" y1="53.4921" x2="51.4787" y2="64.5456" gradientUnits="userSpaceOnUse">
<stop stop-color="#8C95F7"/>
<stop offset="1" stop-color="#867AFF"/>
</linearGradient>
<linearGradient id="paint1_linear_2104_873" x1="67.7394" y1="32.3502" x2="91.752" y2="43.205" gradientUnits="userSpaceOnUse">
<stop stop-color="#8C95F7"/>
<stop offset="1" stop-color="#867AFF"/>
</linearGradient>
<linearGradient id="paint2_linear_2104_873" x1="35.7728" y1="36.6603" x2="86.0853" y2="87.3401" gradientUnits="userSpaceOnUse">
<stop stop-color="#8C95F7"/>
<stop offset="1" stop-color="#867AFF"/>
</linearGradient>
<linearGradient id="paint3_linear_2104_873" x1="35.7728" y1="43.0007" x2="78.2742" y2="93.0174" gradientUnits="userSpaceOnUse">
<stop stop-color="#8C95F7"/>
<stop offset="1" stop-color="#867AFF"/>
</linearGradient>
<linearGradient id="paint4_linear_2104_873" x1="21.0908" y1="21.7015" x2="116.781" y2="116.934" gradientUnits="userSpaceOnUse">
<stop stop-color="#8C95F7"/>
<stop offset="1" stop-color="#867AFF"/>
</linearGradient>
<linearGradient id="paint5_linear_2104_873" x1="115.958" y1="109.906" x2="83.7487" y2="90.8432" gradientUnits="userSpaceOnUse">
<stop stop-color="#ED0029"/>
<stop offset="1" stop-color="#F43760"/>
</linearGradient>
<linearGradient id="paint6_linear_2104_873" x1="170.986" y1="5.15646" x2="170.986" y2="104.084" gradientUnits="userSpaceOnUse">
<stop stop-color="#B6BAEC"/>
<stop offset="1" stop-color="#8D82F6"/>
</linearGradient>
<linearGradient id="paint7_linear_2104_873" x1="236.244" y1="6.0162" x2="236.244" y2="103.903" gradientUnits="userSpaceOnUse">
<stop stop-color="#B6BAEC"/>
<stop offset="1" stop-color="#8D82F6"/>
</linearGradient>
<linearGradient id="paint8_linear_2104_873" x1="303.801" y1="5.46558" x2="303.801" y2="104.02" gradientUnits="userSpaceOnUse">
<stop stop-color="#B6BAEC"/>
<stop offset="1" stop-color="#8D82F6"/>
</linearGradient>
<linearGradient id="paint9_linear_2104_873" x1="373.366" y1="6.0162" x2="373.366" y2="103.903" gradientUnits="userSpaceOnUse">
<stop stop-color="#B6BAEC"/>
<stop offset="1" stop-color="#8D82F6"/>
</linearGradient>
<linearGradient id="paint10_linear_2104_873" x1="440.224" y1="5.73223" x2="440.224" y2="103.966" gradientUnits="userSpaceOnUse">
<stop stop-color="#B6BAEC"/>
<stop offset="1" stop-color="#8D82F6"/>
</linearGradient>
<linearGradient id="paint11_linear_2104_873" x1="504.11" y1="5.46558" x2="504.11" y2="104.02" gradientUnits="userSpaceOnUse">
<stop stop-color="#B6BAEC"/>
<stop offset="1" stop-color="#8D82F6"/>
</linearGradient>
</defs>
</svg>
</div>