---
// Converted from trademark__Extensiv.svg
---

<div class="trademark-svg-wrap">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" width="auto" height="100%">
    <g transform="matrix(1,0,0,1,-1187.6,-184.435)">
        <g id="trademark__Extensiv" transform="matrix(1,0,0,1,1184,177)">
            <g id="wordmark__Extensiv">
                <g transform="matrix(1,0,0,1,0,26.03)">
                    <path d="M32.013,14.955L45.873,14.955C45.657,12.548 44.49,8.861 39.382,8.861C35.769,8.826 32.657,11.4 32.014,14.955M40.192,30.03C33.318,30.03 28.331,24.808 28.331,17.616C28.331,9.216 33.924,5.456 39.467,5.456C45.366,5.456 49.327,9.607 49.327,15.785L49.327,18.365L31.764,18.365C31.822,22.969 35.586,26.662 40.191,26.631C42.481,26.607 44.68,25.73 46.358,24.171L47.329,23.15L49.305,26.107L48.657,26.761C46.344,28.876 43.322,30.045 40.188,30.037" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,26.0151)">
                    <path d="M71.039,29.533L66.789,29.533L60.312,20.17L53.874,29.533L49.63,29.533L58.17,17.286L50.366,5.983L54.462,5.983L60.312,14.31L66.199,5.983L70.301,5.983L62.45,17.288L71.039,29.533Z" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,20.2702)">
                    <path d="M80.565,35.449C78.356,35.449 73.224,34.571 73.224,26.441L73.224,5.807L76.629,5.807L76.629,11.727L82.209,11.727L82.209,15.132L76.625,15.132L76.625,26.314C76.625,28.455 77.131,32.044 80.523,32.044C80.75,32.042 80.976,32.021 81.199,31.98L82.543,31.716L82.543,35.116L81.691,35.332C81.321,35.414 80.943,35.454 80.565,35.451" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,26.0301)">
                    <path d="M87.46,14.955L101.32,14.955C101.104,12.548 99.938,8.861 94.828,8.861C91.215,8.826 88.103,11.4 87.46,14.955M95.637,30.03C88.764,30.03 83.776,24.808 83.776,17.616C83.776,9.216 89.369,5.456 94.912,5.456C100.81,5.456 104.772,9.607 104.772,15.785L104.772,18.365L87.211,18.365C87.269,22.969 91.033,26.662 95.638,26.631C97.928,26.614 100.127,25.737 101.801,24.175L102.773,23.141L104.751,26.107L104.103,26.761C101.791,28.876 98.768,30.045 95.634,30.036" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,25.4123)">
                    <path d="M128.28,30.137L124.875,30.137L124.875,15.933C124.875,11.167 123.565,9.479 119.869,9.479C116.218,9.409 113.015,11.901 112.184,15.457C111.964,16.308 111.861,17.185 111.881,18.063L111.881,30.137L108.476,30.137L108.476,6.586L111.881,6.586L111.881,9.373C113.95,7.183 116.857,5.982 119.869,6.072C125.529,6.072 128.28,9.213 128.28,15.679L128.28,30.137Z" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,25.9642)">
                    <path d="M139.34,30.097C136.256,30.113 133.296,28.886 131.128,26.693L130.48,25.959L132.726,23.339L133.583,24.299C135.125,25.807 137.187,26.664 139.344,26.693C142.788,26.693 144.01,24.892 144.01,23.347C144.01,21.272 142.22,20.516 139.056,19.353L139.001,19.333C136.127,18.301 131.787,16.742 131.787,12.054C131.787,8.084 134.837,5.518 139.559,5.518C142.088,5.454 144.563,6.263 146.566,7.809L147.338,8.493L145.231,11.342L144.306,10.437C142.958,9.375 141.27,8.838 139.557,8.926C135.504,8.926 135.19,11.323 135.19,12.056C135.19,14.153 136.713,14.913 140.189,16.148L140.235,16.166C143.601,17.432 147.414,18.865 147.414,23.344C147.414,27.317 144.095,30.094 139.344,30.094" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,26.0152)">
                    <path d="M175.304,5.982L168.107,23.88L160.983,5.982L157.312,5.982L166.781,29.534L169.497,29.534L178.965,5.982L175.304,5.982Z" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,26.0141)">
                    <rect x="150.898" y="5.983" width="3.405" height="23.551" style="fill:rgb(93,126,149);"/>
                </g>
                <g transform="matrix(2.48342e-05,-1,-1,-2.48342e-05,186.902,179.764)">
                    <path d="M152.569,32.324C151.457,32.324 150.556,33.225 150.556,34.337C150.556,35.449 151.457,36.35 152.569,36.35C153.681,36.35 154.582,35.449 154.582,34.337C154.582,33.225 153.681,32.324 152.569,32.324" style="fill:rgb(93,126,149);fill-rule:nonzero;"/>
                </g>
            </g>
            <g id="appIcon__Extensiv">
                <g opacity="0.5">
                    <g transform="matrix(1,0,0,1,0,-30.9248)">
                        <path d="M19.34,54.096L19.34,38.36L3.604,38.36L19.34,54.096Z" style="fill:rgb(237,64,169);fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,0,0,1,0,21.3021)">
                        <path d="M10.388,26.821L19.34,13.408L8.329,18.481L10.388,26.821Z" style="fill:rgb(237,64,169);fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(-0.707107,0.707107,0.707107,0.707107,22.0736,-36.0836)">
                        <path d="M26.903,40.467L32.705,40.467L32.703,50.905L24.584,42.786L26.903,40.467Z" style="fill:rgb(237,64,169);fill-rule:nonzero;"/>
                    </g>
                </g>
                <g transform="matrix(1,0,0,1,0,-41.7035)">
                    <path d="M31.665,53.256L38.22,53.256L34.942,49.979L31.665,53.256Z" style="fill:rgb(123,0,76);fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(1,0,0,1,0,-5.97231)">
                    <path d="M19.342,13.408L19.342,40.682L10.39,54.096L19.342,44.609L34.943,29.01L19.342,13.408Z" style="fill:rgb(123,0,76);fill-rule:nonzero;"/>
                </g>
            </g>
        </g>
    </g>
</svg>
</div>