---
// Converted from trademark__Vurvey.svg
---

<div class="trademark-svg-wrap">
<svg class="c-logo" xmlns="http://www.w3.org/2000/svg" fill="none" width="auto" height="80px">
  <path class="icon" fill="#183622" fill-rule="evenodd" d="M0 15.9C0 6.9 7.7 0 16.7 0a17 17 0 0 1 17.7 17.7c0 10-7.9 18.3-18.2 18.3v-4.7c-9 0-16.2-6-16.2-15.4Zm10.4-6.2h3v11c5.5-.5 9.6-5.2 9.6-11h3.2c0 7.8-6 14-14.5 14.2h-1.3V9.6Z" clip-rule="evenodd"></path>
  <path class="text" fill="#183622" d="M84.4 9.4c-.8.6-1.6 1.6-2.1 3L82 8.2h-3.3v16.1h3.7v-6c0-2.4.5-4 1.8-5.2 1-1 2.4-1.4 4.4-1.4h1V8.2h-1.2c-2 0-3 .3-4 1.2ZM52.3 19.5 48 8.2h-4l6.6 16.1H54l6.6-16.1h-4l-4.3 11.3Zm51.2-11.3L99 19.5 94.8 8.2h-4l6.6 16.1h3.4l6.6-16.1h-4Zm-30.8 8.4c0 1.9-.3 3-1.3 4a4 4 0 0 1-4.9.1c-.7-.8-1-1.7-1-3.3V8.2h-3.7v10c0 2.5.6 3.9 1.8 5 1 1 2.5 1.5 4.1 1.5a6 6 0 0 0 5.3-3l.2 2.6h3.2V8.2h-3.7v8.4Zm63.4-8.4-4.5 11.3-4.5-11.3h-4l6.7 15.8-1 1.7c-.8 1-1.9 1.3-4 1.3h-.9v3.4h1c2.3 0 3.7-.3 5-1 1.3-1 2.1-2.1 3-4.1L140 8.2h-3.9Z"></path>
  <path class="text" fill="#183622" d="M115.3 7.8c-5 0-8.3 3.4-8.3 8.7 0 5.2 3.3 8.2 8.2 8.2 3.8 0 6.9-1.8 8-5.2h-3.9c-.7 1.4-2 2.1-4 2.1-2.6 0-4.4-1.5-4.6-4h12.7v-1.3c0-5.2-3.2-8.5-8.1-8.5Zm-4.6 6.8c.5-2.5 2.1-3.8 4.5-3.8s4 1.3 4.5 3.8h-9Z"></path>
</svg>
</div>