---
// Converted from trademark__Chisel--Lightest.svg
---

<div class="trademark-svg-wrap">
<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="auto" height="80px">
<g clip-path="url(#clip0_2272_1366)">
<path d="M331.323 53.3056C339.793 59.9656 345.39 69.0123 348.103 80.4723H326.503C324.267 74.8923 320.79 70.499 316.063 67.259C311.337 64.019 305.667 62.4123 299.057 62.4123C293.613 62.4123 288.69 63.779 284.32 66.5223C279.95 69.2656 276.533 73.1823 274.103 78.2656C271.673 83.349 270.45 89.3223 270.45 96.1756C270.45 102.926 271.673 108.852 274.103 113.936C276.533 119.019 279.937 122.936 284.323 125.679C288.71 128.422 293.617 129.789 299.06 129.789C305.683 129.789 311.353 128.169 316.067 124.946C320.78 121.722 324.27 117.309 326.507 111.729H348.107C345.377 123.176 339.783 132.232 331.327 138.896C322.87 145.559 312.203 148.886 299.36 148.886C289.53 148.886 280.85 146.666 273.3 142.209C265.75 137.752 259.92 131.512 255.787 123.489C251.653 115.466 249.58 106.359 249.58 96.189C249.58 85.9156 251.653 76.7623 255.787 68.739C259.92 60.7156 265.737 54.4723 273.24 50.019C280.743 45.5656 289.44 43.3456 299.373 43.3456C312.203 43.329 322.85 46.6456 331.323 53.3056ZM434.097 74.739C439.647 80.9056 442.42 89.559 442.42 100.719V147.986H421.987V103.072C421.987 96.6056 420.33 91.5956 417.017 88.0256C413.703 84.4556 409.187 82.669 403.443 82.669C397.61 82.669 392.927 84.5756 389.437 88.399C385.93 92.209 384.187 97.699 384.187 104.839V147.992H363.6V39.3523H384.187V82.959C386.32 77.4856 389.853 73.1923 394.777 70.119C399.683 67.029 405.367 65.499 411.783 65.499C421.107 65.4823 428.55 68.5723 434.097 74.739ZM461.683 35.1656C464.023 33.0656 467.083 32.0156 470.887 32.0156C474.69 32.0156 477.747 33.0656 480.09 35.1656C482.433 37.2656 483.597 39.979 483.597 43.3123C483.636 44.821 483.342 46.3198 482.736 47.702C482.13 49.0842 481.226 50.3157 480.09 51.309C477.747 53.4123 474.69 54.459 470.887 54.459C467.083 54.459 464.023 53.409 461.683 51.309C459.343 49.209 458.177 46.539 458.177 43.3123C458.177 39.9956 459.357 37.2823 461.683 35.169V35.1656ZM481.103 66.6656V147.996H460.52V66.6656H481.103ZM551.313 73.119C557.253 78.1156 560.95 84.7723 562.413 93.0856H543.14C542.363 89.169 540.603 86.0356 537.89 83.6956C535.177 81.3556 531.61 80.169 527.24 80.169C523.733 80.169 521.003 81.009 519.063 82.659C517.123 84.309 516.14 86.5756 516.14 89.409C516.14 91.659 516.917 93.4756 518.483 94.839C520.05 96.2023 521.987 97.2823 524.317 98.0656C526.647 98.849 530.013 99.7756 534.383 100.856C540.513 102.222 545.497 103.676 549.347 105.189C553.209 106.712 556.622 109.189 559.267 112.389C562.04 115.672 563.427 120.099 563.427 125.679C563.427 132.626 560.727 138.249 555.327 142.556C549.927 146.862 542.647 149.022 533.503 149.022C522.987 149.022 514.573 146.652 508.25 141.896C501.927 137.139 498.077 130.376 496.72 121.572H516.423C516.917 125.592 518.66 128.742 521.673 131.039C524.687 133.336 528.627 134.489 533.503 134.489C537.01 134.489 539.68 133.636 541.53 131.922C543.38 130.209 544.303 127.979 544.303 125.249C544.303 122.896 543.5 120.989 541.903 119.519C540.307 118.049 538.293 116.922 535.92 116.146L525.777 113.356C519.737 111.989 514.857 110.596 511.1 109.172C507.343 107.749 504.147 105.482 501.463 102.346C498.78 99.209 497.45 94.9056 497.45 89.4323C497.45 82.3823 500.12 76.6656 505.477 72.259C510.833 67.8523 518.23 65.659 527.67 65.659C537.503 65.6423 545.377 68.149 551.313 73.129V73.119ZM654.093 111.289H594.827C595.127 118.532 597.063 123.859 600.66 127.292C604.257 130.726 608.743 132.439 614.087 132.439C618.86 132.439 622.827 131.269 625.99 128.916C629.153 126.562 631.167 123.379 632.047 119.376H653.793C652.72 125.046 650.437 130.146 646.933 134.646C643.43 139.146 638.923 142.672 633.433 145.222C627.943 147.772 621.827 149.032 615.113 149.032C607.223 149.032 600.227 147.339 594.097 143.962C587.967 140.586 583.193 135.772 579.79 129.502C576.387 123.232 574.673 115.852 574.673 107.332C574.673 98.8123 576.377 91.4023 579.79 85.089C583.203 78.7756 587.967 73.959 594.097 70.629C600.227 67.299 607.237 65.6356 615.113 65.6356C623.093 65.6356 630.077 67.299 636.057 70.6323C642.037 73.9656 646.663 78.5356 649.93 84.359C653.197 90.1823 654.823 96.809 654.823 104.249C654.823 106.306 654.57 108.659 654.093 111.299V111.289ZM628.913 87.0623C625.17 83.6423 620.56 81.919 615.113 81.919C609.567 81.919 604.897 83.629 601.107 87.0623C597.317 90.4956 595.217 95.5223 594.827 102.182H634.103C634.387 95.5223 632.657 90.4823 628.913 87.0623ZM690 39.3523V147.982H669.413V39.3523H690Z" fill="#F8F2F7"/>
<path d="M51.6733 180.52L0 90.5195L51.6733 0.519531H155.02L206.693 90.5195L155.02 180.52H51.6733Z" fill="url(#paint0_linear_2272_1366)"/>
<path opacity="0.7" d="M78.5371 133.724L53.7305 90.5242L78.5371 47.3242H128.15L152.957 90.5242L128.15 133.724H78.5371Z" fill="url(#paint1_linear_2272_1366)"/>
<path d="M51.6733 180.52L78.54 133.72L53.73 90.5195H0L51.6733 180.52Z" fill="#2500FF"/>
<path d="M51.6733 0.519531L78.54 47.3195L53.73 90.5195H0L51.6733 0.519531Z" fill="#FF00FF"/>
<path opacity="0.8" d="M155.017 0.519531L128.15 47.3195L152.957 90.5195H206.687L155.017 0.519531Z" fill="url(#paint2_linear_2272_1366)"/>
<path opacity="0.6" d="M155.017 180.52L128.15 133.72L152.957 90.5195H206.687L155.017 180.52Z" fill="black"/>
</g>
<defs>
<linearGradient id="paint0_linear_2272_1366" x1="103.347" y1="1.35286" x2="103.347" y2="176.07" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF00FF"/>
<stop offset="1" stop-color="#2500FF"/>
</linearGradient>
<linearGradient id="paint1_linear_2272_1366" x1="32.9971" y1="19.7842" x2="133.39" y2="119.621" gradientUnits="userSpaceOnUse">
<stop stop-color="#2500FF"/>
<stop offset="1"/>
</linearGradient>
<linearGradient id="paint2_linear_2272_1366" x1="81.5771" y1="-27.2971" x2="198.727" y2="89.2062" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF00FF"/>
<stop offset="1"/>
</linearGradient>
<clipPath id="clip0_2272_1366">
<rect width="690" height="180" fill="white" transform="translate(0 0.519531)"/>
</clipPath>
</defs>
</svg>
</div>