---
import "../../styles/global.css";
---

<div class="tiers margin-top-900 padding-top-900 astro-GKQQ4PRQ">
  <div class="starter | br-200 flow padding-600 astro-GKQQ4PRQ">
    <!-- <div class="text-center flow" style="--flow-spacer: 1rem">
        <h3 class="fs-500 fw-bold">Starter Package</h3>
        <p class="fs-300">Learn to get more organized by using Sass, PostCSS, Vite and more</p>
        <p class="fw-bold fs-600 text-neutral-900">$79</p>
        <a class="button" href="https://kevinpowell.gumroad.com/l/beyondcss-starter-edition">Enroll now</a>
      </div> -->

    <div class="starter | br-200 flow padding-400 astro-QMEUQVA4">
      <div class="text-center flow astro-QMEUQVA4" style="--flow-spacer: 1rem">
        <h3 class="fs-500 fw-bold astro-QMEUQVA4">Starter Package</h3>
        <p class="fs-300 astro-QMEUQVA4">
          Learn to get more organized by using Sass, PostCSS, Vite and more
        </p>
        <div class="price margin-bottom-400 astro-QMEUQVA4">
          <p class="fw-bold fs-600 text-neutral-900 astro-QMEUQVA4">
            <span class="visually-hidden astro-QMEUQVA4">Original price:</span
            >$100
          </p>
        </div>
        <a class="button astro-QMEUQVA4" data-tier="starter" href="#!">
          Enroll now
        </a>
      </div>
      <!-- <Features moduleNumber={modulesIncluded}></Features> -->
    </div>

    <ul class="features margin-block-900 fs-300 astro-JRDA2KZJ">
      <li class="astro-JRDA2KZJ">Modules 1–3</li>
      <li class="astro-JRDA2KZJ">Lifetime access</li>
      <li class="astro-JRDA2KZJ">Hands-on exercises &amp; projects</li>
      <li class="astro-JRDA2KZJ">Exclusive Discord Channels</li>
      <li class="astro-JRDA2KZJ">30-day money-back guarantee</li>
    </ul>
    <div
      class="includes | br-200 surface-primary-300 padding-300 flow astro-GKQQ4PRQ"
    >
      <h4 class="fs-300 fw-bold astro-GKQQ4PRQ">Includes:</h4>
      <ol
        class="flow text-neutral-900 unstyled-list fs-300 astro-GKQQ4PRQ"
        style="--flow-spacer: .5em"
      >
        <li class="astro-GKQQ4PRQ">Sass fundamentals</li>
        <li class="astro-GKQQ4PRQ">Adding Logic to our stylesheets</li>
        <li class="astro-GKQQ4PRQ">Architecture and build tools</li>
      </ol>
    </div>
  </div>

  <div class="premium | br-200 flow padding-700 astro-GKQQ4PRQ">
    <div
      class="text-center flow astro-GKQQ4PRQ"
      style="--flow-spacer: 1rem; isolation: isolate;"
    >
      <div class="starter | br-200 flow padding-400 astro-QMEUQVA4">
        <div
          class="text-center flow astro-QMEUQVA4"
          style="--flow-spacer: 1rem"
        >
          <h3 class="fs-500 fw-bold astro-QMEUQVA4">Premium Package</h3>
          <p class="fs-300 astro-QMEUQVA4">
            Take everything to the next level and create deliverable projects
            with a Headless CMS and SSG
          </p>
          <div class="price margin-bottom-400 astro-QMEUQVA4">
            <p class="fw-bold fs-600 text-neutral-900 astro-QMEUQVA4">
              <span class="visually-hidden astro-QMEUQVA4">Original price:</span
              >$450
            </p>
          </div>
          <a
            class="button paddle-net astro-QMEUQVA4"
            data-tier="premium"
            data-type="accent"
            href="#!"
          >
            Enroll now
          </a>
        </div>
        <!-- <Features moduleNumber={modulesIncluded}></Features> -->
      </div>

      <!-- <h3 class="fs-500 fw-bold">Premium Package</h3>
        <p class="fs-300"></p>
        <p class="fw-bold fs-600 text-neutral-900">$349</p>
        <a class="button" data-type="accent" href="https://kevinpowell.gumroad.com/l/beyondcss-premium-edition">Enroll now</a> -->
    </div>
    <ul class="features margin-block-900 fs-300 astro-JRDA2KZJ">
      <li class="astro-JRDA2KZJ">Modules 1–5</li>
      <li class="astro-JRDA2KZJ">Lifetime access</li>
      <li class="astro-JRDA2KZJ">Hands-on exercises &amp; projects</li>
      <li class="astro-JRDA2KZJ">Exclusive Discord Channels</li>
      <li class="astro-JRDA2KZJ">30-day money-back guarantee</li>
    </ul>
    <div class="includes | br-200 padding-400 flow astro-GKQQ4PRQ">
      <h4 class="fs-300 fw-bold text-neutral-700 astro-GKQQ4PRQ">Includes:</h4>

      <ol
        class="flow text-neutral-900 unstyled-list fs-300 astro-GKQQ4PRQ"
        style="--flow-spacer: .5em"
      >
        <li class="astro-GKQQ4PRQ">Sass fundamentals</li>
        <li class="astro-GKQQ4PRQ">Adding Logic to our stylesheets</li>
        <li class="astro-GKQQ4PRQ">Architecture and build tools</li>
        <li class="astro-GKQQ4PRQ">Design systems and theming</li>
        <li class="astro-GKQQ4PRQ">
          Scalable solutions with a SSG &amp; Headless CMS
        </li>
        <li class="bonus bonus-divider astro-GKQQ4PRQ">
          Video lessons where I answer your questions
        </li>
        <li class="bonus astro-GKQQ4PRQ">
          Video library of previous live sessions (20+ hours of content)
        </li>
      </ol>
    </div>
  </div>

  <div class="complete | br-200 flow padding-600 astro-GKQQ4PRQ">
    <div class="text-center flow astro-GKQQ4PRQ" style="--flow-spacer: 1rem">
      <div class="starter | br-200 flow padding-400 astro-QMEUQVA4">
        <div
          class="text-center flow astro-QMEUQVA4"
          style="--flow-spacer: 1rem"
        >
          <h3 class="fs-500 fw-bold astro-QMEUQVA4">Complete Package</h3>
          <p class="fs-300 astro-QMEUQVA4">
            Step into the world of theming and design systems
          </p>
          <div class="price margin-bottom-400 astro-QMEUQVA4">
            <p class="fw-bold fs-600 text-neutral-900 astro-QMEUQVA4">
              <span class="visually-hidden astro-QMEUQVA4">Original price:</span
              >$250
            </p>
          </div>
          <a class="button astro-QMEUQVA4" data-tier="complete" href="#!">
            Enroll now
          </a>
        </div>
        <!-- <Features moduleNumber={modulesIncluded}></Features> -->
      </div>

      <!-- <h3 class="fs-500 fw-bold">Complete Package</h3>
      <!-- <h3 class="fs-500 fw-bold">Compete Package</h3>
      <p class="fs-300">Step into the worl of theming and design systems</p>
      <p class="fw-bold fs-600 text-neutral-900">$179</p>
        <a class="button" href="https://kevinpowell.gumroad.com/l/beyondcss-complete-edition">Enroll now</a> -->
    </div>
    <ul class="features margin-block-900 fs-300 astro-JRDA2KZJ">
      <li class="astro-JRDA2KZJ">Modules 1–4</li>
      <li class="astro-JRDA2KZJ">Lifetime access</li>
      <li class="astro-JRDA2KZJ">Hands-on exercises &amp; projects</li>
      <li class="astro-JRDA2KZJ">Exclusive Discord Channels</li>
      <li class="astro-JRDA2KZJ">30-day money-back guarantee</li>
    </ul>
    <div
      class="includes | br-200 surface-primary-300 padding-300 flow astro-GKQQ4PRQ"
    >
      <h4 class="fs-300 fw-bold astro-GKQQ4PRQ">Includes</h4>
      <ol
        class="flow text-neutral-900 unstyled-list fs-300 astro-GKQQ4PRQ"
        style="--flow-spacer: .5em"
      >
        <li class="astro-GKQQ4PRQ">Sass fundamentals</li>
        <li class="astro-GKQQ4PRQ">Adding Logic to our stylesheets</li>
        <li class="astro-GKQQ4PRQ">Architecture and build tools</li>
        <li class="astro-GKQQ4PRQ">Design systems and theming</li>
      </ol>
    </div>
  </div>
</div>

<styl>
    .starter:where {
        grid-area: starter;
        grid-row-start: starter;
        grid-column-start: starter;
        grid-row-end: starter;
    }
    .tiers {
        position: relative;
        isolation: isolate;
        margin-inline: auto;
    }
</styl>